<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOby Init | <%= title %></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">Homepage</a>
        <p>Moby Test site for express</p>
      </div>
      <ul>
        <li><a href="/" style="margin: 20px">Blogs</a></li>
        <li><a href="/about" style="margin: 20px">About </a></li>
        <li><a href="/blogs/create" style="margin: 20px">New Blog</a></li>
      </ul>
    </nav>
    <div class="not-found content">Oops! Page not found :(</div>
  </body>
</html>
