<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOby Init | <%= title %></title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">Homepage</a>
        <p>Moby Test site for express</p>
      </div>
      <ul>
        <li><a href="/" style="margin: 20px">Blogs</a></li>
        <li><a href="/about" style="margin: 20px">About </a></li>
        <li><a href="/blogs/create" style="margin: 20px">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
        consequatur unde quaerat quo nisi eos cum vitae ipsam natus est eaque
        nemo a itaque incidunt, velit debitis facere! Natus, sapiente.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
        consequatur unde quaerat quo nisi eos cum vitae ipsam natus est eaque
        nemo a itaque incidunt, velit debitis facere! Natus, sapiente.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
        consequatur unde quaerat quo nisi eos cum vitae ipsam natus est eaque
        nemo a itaque incidunt, velit debitis facere! Natus, sapiente.
      </p>
    </div>
  </body>
</html>
